---
import { cn } from '../utils/cn';

const socials = [
  {
    name: 'Bluesky',
    url: 'https://bsky.app/profile/owlrelay.email',
    icon: 'i-tabler-brand-bluesky',
  },
  {
    name: 'GitHub',
    url: 'https://github.com/papra-hq/owlrelay',
    icon: 'i-tabler-brand-github',
  },
  {
    name: 'Discord',
    url: 'https://discord.gg/8UPjzsrBNF',
    icon: 'i-tabler-brand-discord',
  },
];

const sections: {
  title: string;
  links: { label: string; url: string; target?: string; rel?: string }[];
}[] = [
  {
    title: 'Community',
    links: [
      ...socials
        .filter(social => social.name !== 'GitHub')
        .map(social => ({
          label: social.name,
          url: social.url,
        })),
      {
        label: 'GitHub',
        url: 'https://github.com/papra-hq',
      },
    ],
  },
  {
    title: 'Open Source',
    links: [
      {
        label: 'Repository',
        url: 'https://github.com/papra-hq/owlrelay',
      },
      {
        label: 'Contributing',
        url: 'https://github.com/papra-hq/owlrelay/blob/main/CONTRIBUTING.md',
      },
      {
        label: 'Code of Conduct',
        url: 'https://github.com/papra-hq/owlrelay/blob/main/CODE_OF_CONDUCT.md',
      },
      {
        label: 'License',
        url: 'https://github.com/papra-hq/owlrelay/blob/main/LICENSE',
      },
      {
        label: 'This website',
        url: 'https://github.com/papra-hq/owlrelay/tree/main/apps/website',
      },
    ],
  },
  {
    title: 'Legal',
    links: [
      {
        label: 'Privacy Policy',
        url: '/privacy',
      },
      {
        label: 'Terms of Service',
        url: '/terms-of-service',
      },
      {
        label: 'Contact',
        url: '/contact',
      },
    ],
  },
];

type Props = {
  class?: string;
};

const { class: className }: Props = Astro.props;

---

<footer class={cn('bg-card border-t border-border py-8 text-muted-foreground', className)}>
  <div class="max-w-1000px mx-auto p-4">
    <div class="flex justify-between flex-col md:flex-row gap-10">
      <div>
        <a href="/" class="text-xl font-bold flex items-center group mb-2 text-foreground">
          <div class="i-custom-owl size-7 group-hover:(rotate-25deg) transition transform"></div>
          <span class="ml-2  group-hover:text-foreground/80 transition">OwlRelay</span>
        </a>

        <div class="flex gap-2">
          {
            socials.map(social => (
              <a href={social.url} class="hover:text-foreground transition" target="_blank" rel="noopener noreferrer" aria-label={social.name}>
                <div class={`${social.icon} text-2xl`} aria-hidden="true" />
              </a>
            ))
          }
        </div>

        <p class="mt-4 text-sm max-w-300px">
          OwlRelay is part of the <a href="https://papra.app" class="text-foreground border-b hover:border-b-foreground transition">Papra ecosystem</a>.
          This project is made in Europe with <span class="i-tabler-heart-filled size-3.5 mb--0.3 text-foreground inline-block"></span>
          by <a href="https://corentin.tech" class="text-foreground border-b hover:border-b-foreground transition">Corentin Thomasset</a>.
        </p>


      </div>

      <div class={cn('grid gap-10 grid-cols-1', `sm:grid-cols-${sections.length}`)}>
        {
          sections.map(section => (
            <div>
              <div class="text-foreground font-semibold">{section.title}</div>
              <div class="mt-2">
                {section.links.map(link => (
                  <a href={link.url} class="block hover:text-foreground transition py-0.75 font-medium" target={link.target} rel={link.rel}>
                    {link.label}
                  </a>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="mt-8 border-t border-border pt-4">
      © {new Date().getFullYear()} OwlRelay. All rights reserved.
    </div>
  </div>
</footer>
